.container {
  background: #ffffff;

  height: 100vh;
}

.flexWrapper {
  padding: 10px;
  display: flex;
  flex-direction: row;

  padding-right: 20px;
  padding-left: 20px;
}

.flexWrapper > p {
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;

  flex: 1;
}

.flexWrapper img {
  height: 50px;
  width: 50px;

  align-self: center;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #5a76bb;
  border-radius: 50%;
}

.searchBox {
  background: #f5f4ff;
  border-radius: 50px;

  padding: 10px;
  margin: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: border-radius 0.4s ease;
}

.searchBox > input {
  background: transparent;

  border: none;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  height: 100%;
  width: 100%;
}

.searchBox > svg {
  margin-right: 5px;
}

.searchBox > input:focus {
  outline: none;
}

.searchBox:focus-within {
  border: 2px solid rgba(55, 75, 255, 0.2);
  border-radius: 5px;
}

.buttonAdd {
  position: fixed;

  background: #374bff;
  border-radius: 100px;

  width: 60px;
  height: 60px;

  bottom: 20px;
  right: 20px;

  border: none;

  transition: 0.4s ease;
}

.buttonAdd:hover {
  background: #0013ba;
}
